<!-- parent template for bindings ... subject & remove & add -->

<section ng-class="$ctrl.styles['subjects-class']">
  <div class="loader" ng-if="$ctrl.loading">loading ...</div>

  <h2>New Image Album</h2>

  <button ng-click="$ctrl.detail()">Detail View</button>  <!-- redirects to subjects.js -->
  <button ng-click="$ctrl.thumbnail()">Thumbnail View</button>  <!-- redirects to subjects.js -->
  <button ng-click="$ctrl.image()">Image View</button>  <!-- redirects to subjects.js -->

<div ng-show="$ctrl.album === true">
  <br/>
  <ul>
    <li ng-repeat="album in $ctrl.albums">
      <album
        album="album"
        remove="$ctrl.remove">
      </album>
    </li>
  </ul>
</div>

<section>
  <new-album add="$ctrl.add"></new-album>
</section>
