
@import 'colors';
@import 'buttons';

:local(.thumb) {
    ul {
        padding: 0;
        margin: .2em 0;
    }

    li {
        display: inline-block;
        padding-right: .2em;
        max-width: 125px;
        max-height: 125px;
    }

    div {
        border: .12em solid $dkblue;
    }

    img {
        max-width: 100px;
        max-height: 100px;
    }
}
