
:local(.thumb) {
    ul {
        padding: 0;
        margin: .2em 0;
    }

    li {
        display: inline-block;
        padding-right: .2em;
    }

    img {
        max-width: 100px;
        max-height: 100px;
    }
}
