:local(.thumb) {
    display: inline-block;
    margin: 10px;
}

:local(.thumb) img {
    width: 100px;
    height: 100px;
    outline: 1px solid grey;
    outline-offset: -10px;
    border: 15px solid white;
    margin: 10%;
}
