@import 'colors';
@import 'fonts';

.about {
  background-image: url("/img/gallery.jpg");
  background-color: $background;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  margin: 0;
}