
    <h1 class="title">Image Gallery</h1>
    <a ui-sref="welcome" ui-sref-active="link">Home</a>
    <a ui-sref="about" ui-sref-active="link">About</a>
    <main>
        <div class="loader" ng-if="app.loading">Loading...</div>
        <section ng-class="app.stylesParent.parentComp">
            <select ng-model="selection">
                <option value="">please select</option>
                <option value="all">All</option>
                <option value="text">Text</option>
                <option value="full">Full</option>
                <option value="thumb">Thumb</option>
            </select>

            <image-all ng-if="selection === 'all'" all="app.images" class="full"></image-all>
            <image-thumbnail ng-if="selection === 'thumb'" thumbnails="app.images" class="thumb"></image-thumbnail>
            <image-text ng-if="selection === 'text'" text="app.images" ></image-text>
            <image-full ng-if="selection === 'full'" full="app.images" class="full"></full-image>
        </section>

        <new-image add="app.add"></new-image>

    </main>