<div>
  <h1>About Page</h1>
  <a ui-sref="welcome">Welcome</a>
  <a ui-sref="gallery">Gallery</a>
  <p>The Qute Bunny image gallery endeavors to be your source for qute bunny images on the web. You can go to other image sites, but who wants to wade through all the clutter when all you want is QUTE BUNNY IMAGES!!!</p>
  <p>But if you wanna store non-bunny images that's ok too! This image gallery is for you to maintain.</p>
  <image src="http://gittherepdx.herokuapp.com/assets/tim-tie.png" alt="canonical tim">
  <div>The Qute Bunny image was created and is maintained by Tim Combs.</div>
  <a href="http://timcombsart.com">tim combs site</a>
</div>