<section>
  <h1>About</h1>
  <p>Created in 2016, img.album serves as a tool for
    designers, developers and average Jane's to save
    images found online for use later. 
  </p>
  <p>As you have found, downloading images for use
    later can suck up harddrive space as well as load
    time. By simply finding the image source URL and
    saving it to img.album, you're then able to view
    those images directly on our page, and can then
    download the images when it's most convenient for
    you!
  </p>
</section>