@import 'colors';
@import 'headings';
@import 'divs';
@import 'buttons';

:local(.albums) {

    margin: 10% 2% 0;

    button {
        @include button();
        margin-bottom: 5%;
        transition: transform .5s;
        margin-top: 2%;
    }

    button:hover {
        transform: scale(1.1);
    }

    h2 {
        @include page-heading();
    }

    select {
        display: block;
        margin: 2% auto;
        width: 175px;
        border-radius: 15px;
    }

    .view {
        text-align: center;
    }

    .preview {
        @include page-content();
        padding-top: 5px;
        padding-bottom: 0;

        li {
            box-sizing: border-box;
            // border: 1px solid black;
            border-radius: 15px;
            background-color: $grey;
            padding: 0 10px;
            width: 150px;
            height: 231px;

            p {
                height: 36px;
            }
        }
    }

    .thumbnail {
        margin: 0 auto;
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        }

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        }

    .thumbnail img.portrait {
        width: 100%;
        height: auto;
        }

    // .img-preview {
    //     width: 150px;
    //     height: 150px;
    // }

    .add-album {
        text-align: center;
        color: $maroon-brown;
        background-color: $grey;
        border-radius: 15px;
        margin: 0 auto 2%;
        width: 30%;
        padding-top: 1%;

        input {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0 2% 4%;

        p {
            overflow-wrap: normal;
        }
    }
    
}
