<section ng-class="$ctrl.styles.albums">
    <div  ng-hide="$state.includes('albums.contents')">
    <h2>Choose an Album to View</h2>
    <div class="preview">
        <ul>
            <li ng-repeat="album in $ctrl.albums"
                ng-model="$ctrl.selected"
                value="album.name"
                ui-sref="albums.contents({ 
                    id: album._id,
                    view: $ctrl.view
                })">
                <p>{{album.name}}</p>
                <div class="album-thumbnail">
                    <img class="img-preview" ng-src="{{album.featured}}">
                </div>
                <p><button class="delete-button" ng-click="$ctrl.deleteAlbum(album, $event)">Remove</button></p>
            </li>
        </ul>
    </div>

    <div class="add-album">
        <div>
            <h3>Add an Album</h3>
            <label>Name:</label>
            <input ng-model="$ctrl.name">
        </div>
        <div>
            <label>URL of an Image to Represent the Album:</label>
            <input ng-model="$ctrl.featured">
        </div>
        <button class="add-button" ng-click="$ctrl.addAlbum()">Add</button>       
    </div>

    </div>


    <ui-view></ui-view>
</section>
