@import 'colors';
@import 'buttons';

:local(.spider-detail) {

  color: $blue;
  font-family: cursive;
  font-weight: bolder;

  button.primary {
    background: $button-primary;

  }

  button.hover {
    background: $button-hover;
  }

}
