<section>
  <h1>Welcome to <b>img.album</b></h1>
  <p>img.album allows you to keep track of all of the
    really cool images you find online, but don't want
    to download to your computer. 
  </p>
  <p>Here, you can copy an image URL and save it to
    this site in order to view them later. To find an
    image URL, simply right-click (or control + click)
    an image and select "Copy Image Address". From there,
    simply paste that URL into our <a ui-sref="images">images</a>
    form along with a title and description. Hit
    <b>Add Image</b>, and view the image in whatever
    format you'd like! It's really that simple.
  </p>
</section>