a {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
}

a.foo {
  background: lightgreen;
  color: blue;
}

.links {
  margin-left: 30px;
}

.sub-links {
  margin-left: 85px;
}
