<section>
	<form>
		Select a view: <select ng-model="view" ng-options="v for v in app.views"></select>
	</form>
	<hr>
	<div class="loader" ng-if="app.loading">Loading...</div></br>
	<new-image ng-if="view==='add image'" add="app.add"></new-image>
	</p>
	<p ng-repeat="image in app.images">
		<text-only ng-if="view==='text only'"
			image="image">
		</text-only>
		<thumbnail ng-if="view==='thumbnail'"
			image="image">
		</thumbnail>
		<full-image ng-if="view==='full image'"
			image="image">
		</full-image>
		</section>
