
    <!--========================Header===========================-->
    <div class='header'>
        <h1>Goat Images</h1>
        <h2><em>Images of goats.  That's it.</em></h2>
    <a id="home-link" ui-sref="home" ui-sref-active="clicked">Home</a>
    <a id="images-link" ui-sref="images" ui-sref-active="clicked">Images</a>
    <a id="add-link" ui-sref="add" ui-sref-active="clicked">Add Images</a>
    <a id="about-link" ui-sref="about" ui-sref-active="clicked">About</a>

    </div>
    <!--==================Dynamic Page Content========================-->
<main>
    <ui-view></ui-view>
</main>
<footer>
    <h4>Mugsy Carter &copy 2016</h4>
    </footer>