
@import 'colors';
@import 'buttons';

:local(.addnew) {
    section {
        width: 85%;
        border: .1em solid $dkblue;
        border-radius: .5em .5em .5em 0em;
        background-color: $yellow;
    }

    div {
        padding: .12em;
    }

    p {
        margin: .1em auto;
        color: $dkgreen;
    }

}
