@import 'borders';
@import 'colors';
@import 'corners';
@import 'paragraph';

:local(.detail) {
    max-width: 90%;
    padding: 1em;
    margin: 1em auto;

    border: $simpleborder;
    background-color: $frontcolor;
    @include rounded(4px);

    h4 {
        margin: 0px;
    };

    p {
        @include sectionParagraph();
    };
}