<section>
  <select ng-model="$ctrl.view" ng-options="view for view in $ctrl.views"></select>
  
    <image-new add="$ctrl.add"></image-new>

    <ul>
      <li ng-class="$ctrl.styles['full-class']" ng-repeat="image in $ctrl.images">
        <image-preview ng-if="$ctrl.view === 'preview'" image="image"></image-preview>
        <image-detail ng-if="$ctrl.view === 'detail'" image="image"></image-detail>
        <image-full ng-if="$ctrl.view === 'full' || $ctrl.view === undefined" image="image" remove="$ctrl.remove"></image-full>
      </li>
    </ul>
</section>
