<section class="view">
  VIEW <select ng-model="$ctrl.selected">
    <option value="preview">preview</option>
    <option value="detail">detail</option>
    <option value="full">full</option>
  </select>

  <ul>
    <h2>image {{ $ctrl.selected }}</h2>
    <li ng-repeat="image in $ctrl.images">
      <image-preview ng-if="$ctrl.selected === 'preview'" image="image"></image-preview>
      <image-detail ng-if="$ctrl.selected === 'detail'" image="image"></image-detail>
      <image-full ng-if="$ctrl.selected === 'full' || $ctrl.selected === undefined" image="image" remove="$ctrl.remove"></image-full>
    </li>
  </ul>

  <div>
    <image-new add="$ctrl.add">+</image-new>
  </div>
</section>
