:local(.gallery) {
    border: black 1px solid;
    padding: 1em;
    overflow: scroll;
    background-color: #FFFFFF;
    border-radius: 4px;
}

:local(.gallery) h4 {
    margin: 0px;
}

:local(.gallery) p {
    text-indent: 0px;
    width: 100%;
    margin: 0px;
    overflow-wrap: break-word;
}