@import 'colors';
@import 'buttons';

:local(.new) {
    color: $maroon-brown;
    background-color: $grey;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5%;

    button {
        @include button();
        margin-bottom: 5%;
        transition: transform .5s;
    }

    button:hover {
        transform: scale(1.1);
    }

}


