<h2>This is the master view select if you'd like to see all images in the same view.</h2>
<nav>
    <select ng-options="option for option in app.viewOptions" ng-model="app.view">
    </select>
    <select ng-options="image.title for image in app.images" ng-model="app.image">
        <option value="">View All</option>
    </select>
</nav>

<hr>
<section ng-if="!app.image" ng-repeat="image in app.images track by $index" ng-class="app.styles.app">
    <image-options image="image" viewoptions="app.viewOptions" view="app.view"></image-options>
    <button ng-click="app.remove(image)">Delete</button>
    <hr>
</section>
<section ng-if="app.image" ng-class="app.styles.app">
    <image-options image="app.image" viewoptions="app.viewOptions" view="app.view"></image-options>
    <button ng-click="app.remove(app.image)">Delete</button>
    <hr>
</section>
<image-new add="app.add"></image-new>
