@import 'colors';
@import 'buttons';

:local(.spider-thumbnail) {

  color: $blue;
  font-family: cursive;
  font-weight: bolder;

  button.primary {
    background: $button-primary;

  }

  button.hover {
    background: $button-hover;
  }

  img {
    height: 100px;
    width: 150px;
  }

}
