<!-- images view with toggle buttons ... -->
<!--
<button ng-click="$ctrl.detail()">Detail View</button>
<button ng-click="$ctrl.thumbnail()">Thumbnail View</button>
<button ng-click="$ctrl.image()">Image View</button>

<div ng-show="$ctrl.viewDetail === true">
  <h2>Spider Details</h2>
  <section ng-repeat="image in $ctrl.images">
      <spider-detail
        image="image">
      </spider-detail>
  </section>
</div>

<div ng-show="$ctrl.viewThumbnail === true">
  <h2>Spider Thumbnails</h2>
  <section ng-repeat="image in $ctrl.images">
    <spider-thumbnail
      image="image">
    </spider-thumbnail>
  </section>
</div>

<div ng-show="$ctrl.viewImage === true">
  <h2>Spider Images</h2>
  <section ng-repeat="image in $ctrl.images">
    <spider-image
      image="image">
    </spider-image>
  </section>
</div>
-->
