@import 'buttons';
@import 'colors';

:local(.album) {

    border-radius: 15px;
    margin: 2%;
    background-color: $dark-greyish-red;
    padding: 2%;

    ul {
        text-align: center;
    }

    .detail {
        width: 25%;
        margin-bottom: 1%;
    }

    .thumbnail {
        padding: 0;
        box-sizing: border-box;
        width: 120px;
    }

    .gallery {
        width: 80%;

    }

    .add-image {
        box-sizing: border-box;
        text-align: center;
        color: white;
        background-color: $grey;
        border-radius: 15px;
        width: 25%;
        padding: 1% 0 0;
        margin: 0 auto;
        
        button {
            @include button();
            margin-bottom: 5%;
            margin-top: 2%;
            transition: transform .5s;
        }

        button:hover {
            transform: scale(1.1);
        }

        input {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

    }

}
