<section ng-class="$ctrl.styles.album">
    <h2>{{$ctrl.album.name}}</h2>
    <!--<div>
        <img ng-src="{{$ctrl.album.featured}}">
    </div>-->

    <ul ng-if="$ctrl.view === 'detail'">
        <li class="detail" ng-repeat="image in $ctrl.album.images">
            <image-all-detail remove="$ctrl.removeImage" image="image"></image-all-detail>
        </li>
        <li class="add-image">
            <p>Add an Image</p>
            <div>
                <label>Title:</label>
                <input ng-model="$ctrl.title">
            </div>
            <div>
                <label>URL:</label>
                <input ng-model="$ctrl.url">
            </div>
            <div>
                <label>Description:</label>
                <input ng-model="$ctrl.description">
            </div>
            <button ng-click="$ctrl.addImage();$ctrl.updatePage()">Add</button>
        </li>
    </ul>

    <ul ng-if="$ctrl.view === 'thumbnail'">
        <li class="thumbnail" ng-repeat="image in $ctrl.album.images">
            <image-thumbnail image="image"></image-thumbnail>
        </li>
    </ul>

    <ul ng-if="$ctrl.view === 'gallery'">
        <li class="gallery" ng-repeat="image in $ctrl.album.images">
            <image-gallery image="image"></image-gallery>
        </li>
    </ul>

</section>
