:local(span) {
  display: inline-block;
  width: 100px;
  min-height: 60px;
  padding-top: 40px;
  outline: 1px solid grey;
  outline-offset: -10px;
  border: 15px solid white;
  margin: 10px;
  text-align: center;

  a {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
  }
}