@import '../../scss/partials/_colors';

:local(.albums) {
  display: inline-block;
  min-width: 100px;
  min-height: 60px;
  padding-top: 10px;
  outline: 1px solid grey;
  outline-offset: -10px;
  border: 15px solid white;
  margin: 10px;
  text-align: center;

  a {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: $darkblue;
  }
}