:local(.albums) {

  ul {
    padding: 0;
    width: 78%;
    margin: auto;
  }

  li {
    list-style: none;
    display: inline-block;
    height: 145px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 315px;
    vertical-align: top;
    border: 2px solid black;
  }

  p {
    margin-bottom: 10px;
  }

}

button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}