
  <section>
  <br/>
  <a ui-sref="spiders" ui-sref-active="foo">Spiders</a>
  <a ui-sref="mantids" ui-sref-active="foo">Mantids</a>
  </section>

  <section ng-class="$ctrl.styles['albums-class']">
    <div class="loader" ng-if="$ctrl.loading">loading ...</div>

    <h2>New Image Albums</h2>

    <div>
		    <ul>
		      <a ng-repeat="album in $ctrl.albumList" ui-sref="album({id: album._id})" ui-sref-active="foo">{{album.name}}</a>
	        <!-- <button ng-class="ctrl.styles['button']" ng-click="$ctrl.delete(album._id)">remove</button> -->
		    </ul>
		</div>

    <new-album add="$ctrl.add"></new-album>

  </section>

  <section>
    <ui-view>Select an Album to view Images</ui-view>
  </section>
