@import 'borders';
@import 'corners';

:local(.new) {
    border: $simpleborder;
    padding: 5px;
    @include rounded(4px);

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    input {
        max-width: 140px;
        margin: 2px;
    }

    h4 {
        margin: 0px;
    }

    button {
        min-width: 100px;
        margin-left: calc(50% - 50px);
    }
}
