
<div class="{{$ctrl.styles.view}}">
<table>
    <thead>
        <tr>
            <td>Remove</td>
            <td>Title</td>
            <td>Description</td>
            <td>Album</td>
            <td>URL</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="image in $ctrl.images">
            <td><button class="basic" ng-click="$ctrl.trash(image)">X</button></td>
            <td>{{image.title}}</td>
            <td>{{image.description}}</td>
            <td>{{image.albumId}}</td>
            <td>{{image.url}}</td>
        </tr>
    </tbody>
</table>
</div>
