<section ng-class="$ctrl.style.image">
    <div class="widget">
        <p>Image title: <input type="text" ng-model="$ctrl.title" required="string">
            Image URL: <input type="text" ng-model="$ctrl.url" required="string">
            Description: <input type="text" ng-model="$ctrl.description" required="string">
            <select ng-model="$ctrl.album"
                    ng-options="album as album.title for album in $ctrl.albums track by album._id">
            </select>
            <button class="add" ng-click="$ctrl.add()">Add New Image</button>
        </p>
    </div>
</section>