@import '../../scss/partials/_buttons';
@import '../../scss/partials/_colors';

:local(input) {
  display: block;
  padding: 5px;
  margin-left: 5px;
}

:local(p) {
  font-family: 'Cabin', sans-serif;
  padding: 5px;
  margin-left: 5px;
}

.add {
  @include button($blue, white, $paleblue);
}

.widget {
  padding: 5px;
  margin: 5px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
  background-color: $tan;
}
