@import 'mixins';
@import 'colors';

:local(.container) {
    @include clearfix;
    @include grid-unit(12);
    float: none;
    margin: 0 auto;
    outline: 1px dashed red;
}

:local(.section) {
  @include grid-unit(8);
  background-color: $mdpurple;
  margin-top: 1%;
  @include rounded-corners(3.5%);
  outline: 1px dotted blue;
}

:local(.sidebar) {
  @include grid-unit(4);
  float: right;
  margin-right: 0;
  outline: 1px solid green;
}