@import 'font';
@import 'layout';

h1 {
  background-color: rgba(127,255,212,.9);
  font-weight: $primaryFontWeight;
  padding: $defaultPadding;
  margin: $defaultMargin;
  border-radius: $defaultBorderRadius;
}

.container {
  font-family: $primaryFont;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: $defaultFontSize;
}
