h1 {
  background-color: aquamarine;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
}

.container {
  font-family: 'Comfortaa', cursive;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.25em;
}
