@import 'font';
@import 'layout';

h1 {
  background-color: rgba(127,255,212,.9);
  font-weight: $primaryFontWeight;
  padding: $defaultPadding;
  margin: $defaultMargin;
  border-radius: $defaultBorderRadius;
}

.container {
  font-family: $primaryFont;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: $defaultFontSize;
}

.container a {
  padding: 5px;
  margin: $defaultMargin;
  border-radius: $defaultBorderRadius;
  text-decoration: none;
}

.container a:hover {
  background-color: #fff;
  text-decoration: underline;
  transition: .5s;
}

.container a:visited {
  color: inherit;
}
