@import 'colors';
@import 'links';
@import 'divs';

:local(.header) {

    background-color: $grey-green;
    margin: 0;

    h1 {
        text-align: center;
        margin: 0;       
        padding: 2% 0;

    }

    div {
        @include links-div();
        margin: 0 auto;
        padding-bottom: 2%;
    }

    a {
        @include nav-links();
        display: inline-block;
    }

}
