h1 {
    color: steelblue;
}

button.action {
    margin: 0;
    margin-right: -5px;
    background: lightsteelblue;
    color: white;
    border: none;
    cursor: pointer;
}

button.action:focus {
    outline:0;
}

ul.inventory {
    padding: 0;
    padding-left: 20px;
}

ul.moves {
    list-style: none;
}