<div>
  <h1>About Page</h1>
  <button ui-sref="gallery.images">GALLERY</button>
  <button ui-sref="welcome">Welcome</button>
  <p>pixShlef! image gallery endeavors to be the place to store your pix online. You could go to other image sites, but who wants to wade through all the clutter when all you want is your images, your way, ALL-THE-TIME!!!</p>
  <image src="http://gittherepdx.herokuapp.com/assets/tim-tie.png" alt="canonical tim">
  <div>pixShlef! image gallery was created and is maintained by Tim Combs.</div>
  <a href="http://timcombsart.com">tim combs art site</a>
</div>