<section ng-class="$add.styles.addbox">
  <span>Add an Image</span>
  <div>
    <label>name:</label>
    <input ng-model="$add.name">
  </div>
  <div>
    <label>description:</label>
    <input ng-model="$add.description">
  </div>
  <div>
    <label>url:</label>
    <input ng-model="$add.url">
  </div>
  <!--<div>
    <label>album:</label>
    <select ng-model="myAlbum" ng-options="album for album in albums" ng-change="pickAlbum(myAlbum)"></select>
  </div>-->
  <button ng-click="$add.addOneImage()">add img</button>
</section>