<section ng-class="$addImage.styles.addbox">
  <span>Add an Image</span>
  <div>
    <label>name:</label>
    <input ng-model="$addImage.name" required placeholder="enter name">
  </div>
  <div>
    <label>description:</label>
    <input ng-model="$addImage.description" placeholder="enter description">
  </div>
  <div>
    <label>url:</label>
    <input ng-model="$addImage.url" required placeholder="enter image url">
  </div>
  <!-- TODO:  need to add variable for the array of albums
              need a setAlbum method on the image-add controller?
                                      on the images controller?  -->
  <div>
    <label>album:</label>
    <select ng-model="myAlbum" ng-options="album for album in ['qute', 'stuffies', 'suits']" ng-change="setAlbum(myAlbum)"></select>
  </div>
  <button ng-click="$addImage.addOneImage()">add img</button>
</section>