$height: 100px;
@import 'corners';
@import 'buttons';

:local(.new-album-class) {

  height: $height;
  $input-height: .40 * $height;

  div {
    height: $input-height + 60px;
  }

  input {
    width: 130px;
    margin-left: 15px;
    border: 1px solid green;
  }

  button {
    height: 25px;
    background-color: lightgreen;
    color: blue;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px;
  }

  label {
    color: blue;
    font-family: 'Trebuchet MS', sans-serif;
    width: 500px;
  }

  h2 {
    color: darkgreen;
  }

}
