<div>
  <h2>Bunny</h2>
  <a href="http://f.cl.ly/items/3g3J1G0w122M360w380O/3726490195_f7cc75d377_o.jpg"></a>
  <p>Some sort of bunny.</p>
</div>

<div>
  <img class="thumb" src="http://f.cl.ly/items/3g3J1G0w122M360w380O/3726490195_f7cc75d377_o.jpg"></a>
</div>

<div>
  <h2>Bunny</h2>
  <img src="http://f.cl.ly/items/3g3J1G0w122M360w380O/3726490195_f7cc75d377_o.jpg">
  <p>Some sort of bunny.</p>
</div>



<!--<image-thumbnail>
  <img class="thumb" ng-src="http://f.cl.ly/items/3g3J1G0w122M360w380O/3726490195_f7cc75d377_o.jpg"></a>
</image-thumbnail>

<image-gallery>
  <h2>Bunny</h2>
  <img ng-src="http://f.cl.ly/items/3g3J1G0w122M360w380O/3726490195_f7cc75d377_o.jpg">
  <p>Some sort of bunny.</p>
</image-gallery>-->