<section ng-class="$ctrl.styles.image">
    <h2>Choose an Image to View</h2>
    <div>
        <select ng-model="$ctrl.bunny" ng-options="i.title for i in $ctrl.images">
            <option value="">Preview All</option>
        </select>
        <div ng-if="$ctrl.bunny">
        <h3>Choose an Image View Format</h3>
        <select ng-model="$ctrl.view" ng-options="view for view in ['Detail View', 'Thumbnail View', 'Gallery View']">
        </select>
        </div>
    </div>
    <image-detail ng-hide="!$ctrl.bunny" ng-if="$ctrl.view==='Detail View'" image="$ctrl.images[$ctrl.images.indexOf($ctrl.bunny)]"></image-detail>
    <image-thumbnail ng-hide="!$ctrl.bunny" ng-if="$ctrl.view==='Thumbnail View'" image="$ctrl.images[$ctrl.images.indexOf($ctrl.bunny)]"></image-thumbnail>
    <image-gallery ng-hide="!$ctrl.bunny" ng-if="$ctrl.view==='Gallery View'" image="$ctrl.images[$ctrl.images.indexOf($ctrl.bunny)]"></image-gallery>
    <image-all ng-hide="$ctrl.bunny" add="$ctrl.add" remove="$ctrl.remove" images="$ctrl.images"></image-all>
</section>
