<footer ng-class="$ctrl.styles.new">
    <h4>Add a new image to the gallery by filling out the form below</h4>
    <hr>
    <form>
        <div>
            <h4>Title:</h4> 
            <input type="text" ng-model="$ctrl.title" required>
        </div>
        <div>
            <h4>Description:</h4> 
            <input type="text" ng-model="$ctrl.description" required>
        </div>
        <div>
            <h4>Url:</h4> 
            <input type="text" ng-model="$ctrl.url" required>
        </div>
        <div>
            <h4>Album:</h4>
            <div ng-if="$ctrl.album">{{$ctrl.album}}</div> 
            <select ng-if="!$ctrl.album" ng-options="album.name as album.name for album in $ctrl.albums" 
                    ng-model="$ctrl.category" 
                    required>
            </select>
        </div>
    </form>
    <button ng-click="$ctrl.addNew()">Add</button>
</footer>