@import 'colors';
@import 'buttons';
//Here is where I will set UNIVERSAL style rules
//specific rules can be handled in the contorllers



* {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

a {
    text-decoration: none;
    margin: 0 10vw;
}



