<section ng-class="$ctrl.styles.new">
    <div>
        <p>ADD A NEW IMAGE:</p>
        <p>
            <label>Image Title:</label>
            <input ng-model="$ctrl.title">
        </p>
        <p>
            <label>Image Description:</label>
            <input ng-model="$ctrl.description">
        </p>
        <p>
            <label>Image URL:</label>
            <input ng-model="$ctrl.url">
        </p>
    </div>
    <button class="basic" ng-click="$ctrl.addImage()">Add Image</button>
</section>