<section ng-class="app.styles.image">
    <div>
        <h2>Choose an Image to View</h2>
        <select ng-model="app.bunny" ng-options="i.title for i in app.images">
            <option value="">Preview All</option>
        </select>
        <div ng-if="app.bunny">
        <h2>Choose an Image View Format</h2>
        <select ng-init="app.view = 'gallery'" ng-model="app.view">
            <option value="detail">Detail View</option>
            <option value="thumbnail">Thumbnail View</option>
            <option value="gallery">Gallery View</option>
        </select>
        </div>
    </div>
    <image-detail ng-hide="!app.bunny" ng-if="app.view==='detail'" image="app.images[app.images.indexOf(app.bunny)]"></image-detail>
    <image-thumbnail ng-hide="!app.bunny" ng-if="app.view==='thumbnail'" image="app.images[app.images.indexOf(app.bunny)]"></image-thumbnail>
    <image-gallery ng-hide="!app.bunny" ng-if="app.view==='gallery'" image="app.images[app.images.indexOf(app.bunny)]"></image-gallery>
    <image-all ng-hide="app.bunny" add="app.add" remove="app.remove" images="app.images"></image-all>
</section>
