<section ng-class="app.styles.newImage">
    <div>
        <label>Title:</label>
        <input ng-model="app.title"></input>
    </div>
    <div>
        <label>Description:</label>
        <input ng-model="app.description"></input>
    </div>
    <div>
        <label>URL:</label>
        <input ng-model="app.url"></input>
    </div>
    <div>
        <label>Full Image:</label>
        <input ng-model="app.fullImage"></input>
    </div>
    <div>
        <label>Thumbnail:</label>
        <input ng-model="app.thumbnail"></input>
    </div>
    <select ng-model="app.selection" ng-options="album.title for album in app.albums">
    </select>
    
    <button ng-click="app.addNew()">add</button>
</section>