<section>
    <div>

    </div>
        <h3>Add more goat albums</h3>
        <form id="add-album-form">
            <div>
                <label>New Album Title</label>
                <input ng-model="newImage.albumTitle">
            </div>
            <div>
                <label>New Album Desctiption</label>
                <input ng-model="newImage.albumDescription">
            </div>
            <button ng-click="newImage.addNewAlbum()">add</button>
        </form>
        <h3 ng-show="newImage.albumAdded===true">New album: "{{newImage.albumTitle}}" was added to the collection.</h3>
    <div>
        <h3>Add more goat images</h3>
        <form id="add-image-form">
            <label>Select an album to add your image to.</label>
            <select ng-model="newImage.album" ng-options="x.title for x in newImage.albums">
            <option value='new' ng-selected=>New Album</option>
            <option value="">select one</option>
            </select>
 
        <div>
            <label>Title:</label>
            <input ng-model="newImage.title">
        </div>
        <div>
            <label>Description:</label>
            <input ng-model="newImage.description">
        </div>
        <div>
            <label>URL:</label>
            <input ng-model="newImage.url">
        </div>
        <button ng-click="newImage.addNewImage()">add</button>
        </form>
    </div>
    <h3 ng-show="newImage.added===true">New image: "{{newImage.title}}" was added to {{newImage.album.title}}.</h3>
</section>