<button 
    ng-click="$ctrl.view = 'add'"
    ng-if="$ctrl.view !== 'add'">
    Add Image
</button>
<select 
    ng-if="$ctrl.view !== 'add'"
    ng-model="$ctrl.view">
    <option value="info">Info</option>
    <option value="thumbnail">Thumbnail</option>
    <option value="full">Full</option>
</select>
<section id="gallery">
    <add-image
        ng-if="$ctrl.view === 'add'"
        add="$ctrl.add"
        view="$ctrl.view">
    </add-image>
    <image-info 
        ng-if="$ctrl.view === 'info'"
        img="$ctrl.img"
        remove="$ctrl.remove">
    </image-info>
    <image-thumb
        ng-if="$ctrl.view === 'thumbnail'"
        img="$ctrl.img">
    </image-thumb>
    <image-full
        ng-if="$ctrl.view === 'full'"
        img="$ctrl.img">
    </image-full>
</section>