:local(.detail) button {
    padding: 1%;
    text-align: center;
    background-color: #8b8182;
    width: 20%;
    outline: none;
    border: none;
    border-radius: 15px;
    transition: transform .5s;
}

:local(.detail) button:hover {
    transform: scale(1.1);
}
