<section class="half">
      <p>How would you like your images to be displayed?</p>
      <select ng-model="view" ng-options="view for view in $ctrl.views">
        <option value="">Select an option</option>
      </select>
</section>
<section>
  <thumbnail-app ng-if="view === 'Thumbnail'" image="image" remove="$ctrl.remove"></thumbnail-app>
  <title-img-desc ng-if="view === 'Full Image'" image="image" remove="$ctrl.remove"></title-img-desc>
  <title-link-desc ng-if="view === 'Link'" image="image" remove="$ctrl.remove"></title-link-desc>
</section>
