h1, h2 {
  text-align: center; }

h4 {
  margin: 2px; }

p {
  margin: 1em auto;
  width: 60%;
  text-align: justify;
  text-indent: 3em; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em auto;
  width: 60%; }

nav select {
  order: 1;
  min-width: 160px;
  margin: 2px; }

body {
  background-color: #00BCD4; }

section {
  width: 60%;
  margin: 1em auto;
  background-color: #B2EBF2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

footer {
  width: 60%;
  margin: 1em auto;
  background-color: #B2EBF2; }
._1KeCVmmTcuXcrsVM57Zmdz {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  ._1KeCVmmTcuXcrsVM57Zmdz a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #5B0053;
    min-width: 80px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #5B0053;
    padding: 0.1em 0.4em;
    margin: 0 1em; }
  ._1KeCVmmTcuXcrsVM57Zmdz a.hot {
    color: #FFFFFF;
    background-color: #5B0053;
    border: 1px solid #FFFFFF; }
._27q09CTezCOi4es8K1MuUP {
  border: 1px black solid;
  padding: 5px; }
._1P8rGqG9AJOMZc6gOYxStU {
  max-width: 90%;
  padding: 1em;
  margin: 1em auto;
  border: 1px black solid;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._1P8rGqG9AJOMZc6gOYxStU h4 {
    margin: 0px; }
  ._1P8rGqG9AJOMZc6gOYxStU p {
    text-indent: 0px;
    margin: 0px;
    width: 100%;
    overflow-wrap: break-word; }
._146LvsNqbvBRK7XjE03R0_ {
  padding: 1em;
  overflow: scroll;
  border: 1px black solid;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._146LvsNqbvBRK7XjE03R0_ h4 {
    margin: 0px; }
  ._146LvsNqbvBRK7XjE03R0_ p {
    text-indent: 0px;
    margin: 0px;
    width: 100%;
    overflow-wrap: break-word; }
._3-KQJIk2g0BbcNbhDep1BD {
  border: 1px black solid;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._3-KQJIk2g0BbcNbhDep1BD form {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  ._3-KQJIk2g0BbcNbhDep1BD input {
    max-width: 140px;
    margin: 2px; }
  ._3-KQJIk2g0BbcNbhDep1BD h4 {
    margin: 0px; }
  ._3-KQJIk2g0BbcNbhDep1BD button {
    min-width: 100px;
    margin-left: calc(50% - 50px); }
._245pZy20ofWoi4C2bNTZDl {
  margin: 1em auto; }

._27KwMae6YLDKxoOSsD-4ol {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  ._27KwMae6YLDKxoOSsD-4ol select {
    min-width: 120px;
    margin: 2px; }
  ._27KwMae6YLDKxoOSsD-4ol button {
    min-width: 120px;
    margin: 2px; }
._3w49sZuaJ8BbSDcbrRvIpi {
  padding: 1em;
  max-width: 90%;
  max-height: 100px;
  margin: 1em auto;
  width: auto;
  display: flex;
  border: 1px black solid;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._3w49sZuaJ8BbSDcbrRvIpi img {
    height: 100px;
    width: 100px;
    margin: 0 auto; }
._2Stccj97TbmD4_pxNhaGru nav {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  ._2Stccj97TbmD4_pxNhaGru nav a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #5B0053;
    min-width: 80px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #5B0053;
    padding: 0.1em 0.4em;
    margin: 0 1em; }
  ._2Stccj97TbmD4_pxNhaGru nav a.current {
    color: #FFFFFF;
    background-color: #5B0053;
    border: 1px solid #FFFFFF; }

/*# sourceMappingURL=main.css.map*/