h1, h2 {
  text-align: center; }

h4 {
  margin: 2px; }

p {
  margin: 1em auto;
  width: 60%;
  text-align: justify;
  text-indent: 3em; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em auto;
  width: 60%; }

nav select {
  order: 1;
  min-width: 160px;
  margin: 2px; }

body {
  background-color: #00BCD4; }

section {
  width: 60%;
  margin: 1em auto;
  padding: 5px;
  background-color: #B2EBF2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

footer {
  width: 60%;
  margin: 1em auto;
  background-color: #B2EBF2; }

.loader {
  position: absolute;
  top: 0;
  left: 40%; }
._1KeCVmmTcuXcrsVM57Zmdz {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  ._1KeCVmmTcuXcrsVM57Zmdz a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #5B0053;
    min-width: 80px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #5B0053;
    padding: 0.1em 0.4em;
    margin: 0 1em; }
  ._1KeCVmmTcuXcrsVM57Zmdz a.hot {
    color: #FFFFFF;
    background-color: #5B0053;
    border: 1px solid #FFFFFF; }

.PfDUqMI9jSM5BYzW4piqR {
  padding: 0; }
._1JLIhay7JV355sxHQZbo-y {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0; }
  ._1JLIhay7JV355sxHQZbo-y li {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px black solid;
    display: inline;
    margin: 0 1em;
    padding: 0.2em; }
  ._1JLIhay7JV355sxHQZbo-y li:hover {
    background-color: #CFD8DC;
    border: 1px solid #009688;
    color: #009688; }

._2jiyzKYUPdZiD3jkAQAIMB {
  text-align: center; }
._1IRzGE8PGUhlAlcBAt4Lr7 {
  border: 1px black solid;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._1IRzGE8PGUhlAlcBAt4Lr7 form {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  ._1IRzGE8PGUhlAlcBAt4Lr7 input, ._1IRzGE8PGUhlAlcBAt4Lr7 select {
    max-width: 140px;
    margin: 2px; }
  ._1IRzGE8PGUhlAlcBAt4Lr7 select {
    padding: 1px 0; }
  ._1IRzGE8PGUhlAlcBAt4Lr7 h4 {
    margin: 0px;
    text-align: center; }
  ._1IRzGE8PGUhlAlcBAt4Lr7 button {
    min-width: 100px;
    margin-left: calc(50% - 50px); }
._3WDkOHbm3UN3MLhAQmCoJI {
  border: 1px black solid;
  padding: 5px; }

._2FJ3uhApAKqv9jf2S3dCh7 {
  margin: 1em auto; }

._11FEZXiIsjt_3S1Pcdy4Q0 {
  text-align: center; }
._27q09CTezCOi4es8K1MuUP {
  border: 1px black solid;
  padding: 5px; }

.uyVUP9in-qg3oEcE68tus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  text-align: center; }
  .uyVUP9in-qg3oEcE68tus li {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px black solid;
    display: inline;
    margin: 0.5em;
    padding: 0.5em; }
  .uyVUP9in-qg3oEcE68tus li:hover {
    background-color: #CFD8DC;
    border: 1px solid #009688;
    color: #009688; }
._1EkO1Bro7hqgJuCHM-sx-J {
  max-width: 90%;
  padding: 1em;
  margin: 1em auto;
  border: 1px black solid;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._1EkO1Bro7hqgJuCHM-sx-J h4 {
    margin: 0px; }
  ._1EkO1Bro7hqgJuCHM-sx-J p {
    text-indent: 0px;
    margin: 0px;
    width: 100%;
    overflow-wrap: break-word; }
._2OF0SBw7wrPKSUiUeEchvN {
  padding: 1em;
  overflow: scroll;
  margin: 1em auto;
  border: 1px black solid;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._2OF0SBw7wrPKSUiUeEchvN h4 {
    margin: 0px; }
  ._2OF0SBw7wrPKSUiUeEchvN p {
    text-indent: 0px;
    margin: 0px;
    width: 100%;
    overflow-wrap: break-word; }
._1sr9EAAEbGeaLy9p_8MPVJ {
  border: 1px black solid;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._1sr9EAAEbGeaLy9p_8MPVJ form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; }
  ._1sr9EAAEbGeaLy9p_8MPVJ input, ._1sr9EAAEbGeaLy9p_8MPVJ select {
    max-width: 140px;
    margin: 2px; }
  ._1sr9EAAEbGeaLy9p_8MPVJ select {
    padding: 1px 0; }
  ._1sr9EAAEbGeaLy9p_8MPVJ h4 {
    margin: 0px;
    text-align: center; }
  ._1sr9EAAEbGeaLy9p_8MPVJ button {
    min-width: 100px;
    margin-left: calc(50% - 50px); }
  @media only screen and (min-width: 520px) {
    ._1sr9EAAEbGeaLy9p_8MPVJ form {
      flex-direction: row; } }
._17C0tgyyO5Sc71JRZub7Ea {
  padding: 1em;
  max-width: 90%;
  max-height: 100px;
  margin: 1em auto;
  width: auto;
  display: flex;
  border: 1px black solid;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  ._17C0tgyyO5Sc71JRZub7Ea img {
    height: 100px;
    width: 100px;
    margin: 0 auto; }
._2Stccj97TbmD4_pxNhaGru nav {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  ._2Stccj97TbmD4_pxNhaGru nav a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: #5B0053;
    min-width: 80px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #5B0053;
    padding: 0.1em 0.4em;
    margin: 0 1em; }
  ._2Stccj97TbmD4_pxNhaGru nav a.current {
    color: #FFFFFF;
    background-color: #5B0053;
    border: 1px solid #FFFFFF; }

/*# sourceMappingURL=main.css.map*/