@import 'corners';
$height: 200px;

:local(.image-class) {
  // outline: 3;
  // color: blue;
  height: $height;
  $input-height: .35 * $height;

  border: 2px solid #acc;
  @include rounded(7px);

  div {
    height: $input-height;
  }

  button {
    height: $height - (3 * $input-height) - 25px;
  }

  label {
    color: firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}