<section ng-class="app.styles.image">
    <div>
        <span>Choose an Image to View</span>
        <select ng-model="app.bunny">
            <option value="0">Calico Bunny</option>
            <option value="1">Albino Bunnies</option>
            <option value="2">Floppy Ears Bunny</option>
        </select>
        <!--<select ng-model="app.bunny" ng-options="i.title for i in app.image"></select>-->
        <span>Choose an Image View Format</span>
        <select ng-model="app.view">
            <option value="detail">Detail View</option>
            <option value="thumbnail">Thumbnail View</option>
            <option value="gallery">Gallery View</option>
        </select>
    </div>
    <image-detail ng-if="app.view==='detail'" image="app.image[app.bunny]"></image-detail>
    <image-thumbnail ng-if="app.view==='thumbnail'" image="app.image[app.bunny]"></image-thumbnail>
    <image-gallery ng-if="app.view==='gallery'" image="app.image[app.bunny]"></image-gallery>
</section>
