<nav>
    <div>
        <h4>View Filter:</h4>
        <select ng-options="option for option in ['detail', 'thumbnail', 'gallery']" 
                ng-model="app.view"
                ng-change="app.updateView()">
            <option value=""></option>
        </select>
        <ul>
            <li ng-repeat="album in app.albums"
                ui-sref="albums.options({
                    name: album.name,
                    view: app.view
                })">
                {{album.name}}</li>
        </ul>
    </div>
</nav>
<ui-view></ui-view>
<album-new add="app.add"></album-new>