
<section>
    <div ng-class="$ctrl.styles.choices">
        <h3>Choose your image display</h3>
        <label>Viewing Choices:</label>
        <select ng-model="$ctrl.myChoice" ng-options="choice.name for choice in $ctrl.choices"></select>
        <!--<span ng-repeat="choice in $ctrl.choices">{{choice.name}}
        <input type="radio" ng-model="$ctrl.myChoice" ng-change="$ctrl.updateView"
                name="choice" ng-value="choice.value" checked="$ctrl.myChoice.value === choice.value" >
        </span>-->
    </div>
    <hr>
    <image-view ng-if="$ctrl.myChoice.value === 'view'" images="$ctrl.images" remove="$ctrl.remove"></image-view>
    <image-gallery ng-if="$ctrl.myChoice.value === 'gallery'" images="$ctrl.images"></image-gallery>
    <image-thumbnail ng-if="$ctrl.myChoice.value === 'thumbnail'" images="$ctrl.images"></image-thumbnail>

    <div ng-class="$ctrl.styles.choices">
        <p ng-class="$ctrl.styles.choices" ng-if="$ctrl.images.length === 0">No Images to display. Please add images.</p>
    </div>

    <hr>
    <image-add add="$ctrl.add"></image-add>
</section>
