@import 'colors';
@import 'links';

:local(.about) {
    margin: 10% 2% 0;

    .links {
        text-align: center;
        width: 25%;
        color: $white;
        margin: 4% auto 0;
    }

    .content {
        text-align: center;
        color: $white;
        background-color: $content;
        border-radius: 15px;
        width: 77%;
        margin: 5% auto;
        padding: 2%;
    }

    h2 {
        background-color: $item;
        color: $white;
        border-radius: 15px;
        text-align: center;
        width: 40%;
        margin: 4% auto 2%;
        padding: 2%;
    }

    a {
        @include nav-links();
    } 

}
