@import 'colors';

:local(.all) {
    text-align: center;
    color: white;
    background-color: $dark-greyish-red;
    border-radius: 15px;
    width: 80%;
    margin: 5% auto;
    padding: 5%;

    img {
        width: 100px;
        height: 100px;
    }

    div {
        color: #341c1c;
        background-color: $grey;
        border: 1px solid black;
        border-radius: 15px;
        margin: 5%;
    }

}
