<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <header>
      <h1>Image Gallery</h1>
    </header>

    <main>
      <image-detail></image-detail>
      <image-app></image-app>
      <!--
        <image-thumb ng-if="view_select === 'thumbnail'" image="ctrl.image"></image-thumb>
        <image-gallery ng-if="view_select === 'gallery'" image="ctrl.image"></image-gallery>
      -->
    </main>

  </body>
</html>