$ltblue: #CAE1FF;
$mdblue: #99C6FF;
$dkblue: #6DACFD;

$ltorange: #FFE9C5;
$mdorange: #FFD48F;
$dkorange: #FFC361;

$ltpurple: #D3CDFF;
$mdpurple: #AA9EFF;
$dkpurple: #8675FD;

$ltyellow: #FFF3C5;
$mdyellow: #FFE78F;
$dkyellow: #FFDD61;