$aqua: #adfcf9;
$grey-green: #89a894;
// $grey: #adb8ac;
$army-green: #4b644a;
$grey-maroon: #49393b;
$maroon-brown: #341c1c;
$dark-greyish-red: #584545;
$redish-grey: #8b8182;

// dark blue    #26547c
// blue         #247ba0
// light-green  #70c1b3
// yellow       #f4d06f
// red          #ff495c
// almost-black #090909
// almost-white #fafafa

$item: #26547c;
$content: #247ba0;
$background: #70c1b3;
$header: #f4d06f;
$button: #ff495c;
$black: #090909;
$white: #fafafa;
$grey: #d3d3d3;
