@mixin page-content() {
    text-align: center;
    color: white;
    background-color: $dark-greyish-red;
    border-radius: 15px;
    // width: 60%;
    min-height: 300px;
    margin: 5% auto;
    padding: 5%;
}

@mixin links-div() {
    text-align: center;
    width: 25%;
    color: white;
}
