<section>
    <form id="diplay-form">
        Select an image display.
        <select ng-model="displayChoice" ng-options="x for x in app.displays">
        </select>
    </form>
    <div>
        <image-detail ng-if="displayChoice==='text' || displayChoice==='all'" images="app.images"></image-detail>
        <image-gallery ng-if="displayChoice==='full' || displayChoice==='all'" images="app.images"></image-gallery>
        <image-thumb ng-if="displayChoice==='thumbnail' || displayChoice==='all'" images="app.images"></image-thumbnail>
    </div>
</section>